<!DOCTYPE html> 
<head> 
    <title>Simple realtime chatroom</title>
    <meta charset = "utf-8" /> 
</head> 
	
<body> 
    <video autoplay></video> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"></script>
    <script src="/js/client.js"></script> 
</body>
	
</html>